@import "../../design/index.scss";

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 8px;

  line-height: 0px;

  &:hover {
    background-color: $BlueA100;
  }
  &:focus {
    background-color: $BlueA300;
    outline: none;
  }

  &:disabled {
    &:hover {
      background-color: initial;
    }
    & > .buttonIcon {
      fill: $Disabled;
    }
  }

  &Icon {
    fill: $Gray800;
  }
}

html[data-theme="dark"] {
  .button {
    &:hover {
      background-color: $BlueA800;
    }
    &:focus {
      background-color: $BlueA600;
      outline: none;
    }

    &:disabled {
      &:hover {
        background-color: initial;
      }
      & > .buttonIcon {
        fill: $GrayA300;
      }
    }

    &Icon {
      fill: $Gray600;
    }
  }
}
