@import "../../design/index.scss";

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 8px;

  line-height: 0px;

  &:not(:disabled):focus {
    outline: none;
  }

  &.primary {
    &:not(:disabled):hover {
      background-color: $BlueA100;
    }

    &:not(:disabled):focus {
      background-color: $BlueA300;
    }
  }

  &.input {
    &:not(:disabled):hover {
      background-color: initial;
    }

    &:not(:disabled):focus {
      background-color: initial;
    }
  }

  &:disabled {
    & > .buttonIcon {
      fill: $Disabled;
    }
  }
}

html[data-theme="dark"] {
  .button {
    &.primary {
      &:not(:disabled):hover {
        background-color: $BlueA800;
      }

      &:not(:disabled):focus {
        background-color: $BlueA600;
      }
    }

    &.input {
      &:not(:disabled):hover {
        background-color: initial;
      }

      &:not(:disabled):focus {
        background-color: initial;
      }
    }

    &:disabled {
      & > .buttonIcon {
        fill: $GrayA300;
      }
    }
  }
}
