@import "../../design/index.scss";

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  line-height: 0px;

  &:not(:disabled):focus {
    outline: none;
  }

  &:not(:disabled):hover {
    background-color: $BlueA100;
  }

  &:not(:disabled):focus {
    background-color: $BlueA300;
  }

  &:disabled {
    & > svg {
      fill: $GrayA200;
    }
  }
}

.buttonHeader {
  padding: 12px;
}

.buttonFooterFeed {
  padding: 12px;
}

.buttonInput {
  &:not(:disabled):hover {
    background-color: initial;
  }

  &:not(:disabled):focus {
    background-color: initial;
  }
}

html[data-theme="dark"] {
  .button {
    &:not(:disabled):hover {
      background-color: $BlueA800;
    }

    &:not(:disabled):focus {
      background-color: $BlueA600;
    }

    &:disabled {
      & > svg {
        fill: $GrayA300;
      }
    }
  }

  .buttonInput {
    &:not(:disabled):hover {
      background-color: initial;
    }

    &:not(:disabled):focus {
      background-color: initial;
    }
  }
}
