@import "@/design/index.scss";

.section {
  display: flex;

  height: 100vh;

  &Heading {
    @include font(32px, 500, 38.4px);

    margin-bottom: 50px;

    @include ellipsis;
  }

  &Aside {
    @include box(320px, 440px, 440px);

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0 20px;
  }

  &Form {
    display: flex;
    flex-direction: column;
  }

  &Background {
    flex: 1;
    position: relative;

    &::after {
      content: "";
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-image: url("../../design/images/login-background.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &Logo {
    max-width: 300px;
    aspect-ratio: 4/1;
    margin-bottom: 50px;

    background-image: url("../../design/images/abcloudz-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
