@import "design/index.scss";

.section {
  display: flex;

  height: 100vh;

  &Aside {
    @include mobile {
      padding: 0 16px;
    }

    @include box($mobileS, 440px, 440px);

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;

    &Content {
      @include mobile {
        margin: 0 -8px;
      }

      margin: 0 -30px;
    }
  }

  &Box {
    @include mobile {
      padding: 10px 4px;
    }

    padding: 10px 15px;
  }

  &Cover {
    @include mobile {
      padding: 10px 4px;
    }
    padding: 10px 15px;
  }

  &Heading {
    @include font(32px, 500, 38.4px);

    margin: 0;

    @include ellipsis;
  }

  &Form {
    @include mobile {
      padding: 10px 4px;
    }

    padding: 10px 15px;

    display: flex;
    flex-direction: column;
  }

  &Background {
    flex: 1;
    position: relative;

    &::after {
      content: "";
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-image: url("../../design/images/login-background.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &Logo {
    position: relative;
    width: 100%;
    aspect-ratio: 4/1;

    &::after {
      content: "";
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-image: url("../../design/images/abcloudz-logo.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

html[data-theme="dark"] {
  .section {
    background-color: $Black;

    &Heading {
      color: $Gray600;
    }

    &Background {
      &::after {
        filter: brightness(0.5);
      }
    }
  }
}
