@import "design/index.scss";

.input {
  width: 100%;
  padding: 18px 12px;

  border: 1px solid $Gray400;
  border-radius: 8px;

  &:focus {
    outline: none;
  }

  &Wrapper {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &Label {
    display: block;
    @include font($lh: 24px);
    @include ellipsis;
  }

  &TextError {
    display: block;

    @include font(14px, $fclr: $Error600);
    @include ellipsis;
  }

  &Box {
    position: relative;
  }

  &PasswordToggler {
    position: absolute;
    display: block;

    width: 100%;
    max-width: 24px;
    aspect-ratio: 1;

    top: 50%;
    right: 0;

    transform: translate(-50%, -50%);

    fill: $White !important;
  }
}

html[data-theme="dark"] {
  .input {
    background-color: $Black;
    color: $White;

    &Label {
      color: $Gray600;
    }
  }
}
