@import "../../design/index.scss";

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
  @include font($fs: 24px);
}

html[data-theme="dark"] {
  .spinner {
    color: $White;
  }
}
