$Gray900: #181a1f;
$Gray800: #252733;
$Gray600: #ebecf0;
$Gray400: #b0b3b8;
$Gray100: #f6f7f8;
$BlueA800: #181b29;
$BlueA600: #3760ad;
$BlueA300: #abbde0;
$BlueA100: #f0f5ff;
$Error600: #cc0022;
$Error200: #fae1e5;
$ErrorA200: #3d2b2e;
$White: #ffffff;
$Black: #131314;
