$mobileSS: 280px;
$mobileS: 320px;
$mobileSM: 360px;
$mobileM: 375px;
$mobileML: 380px;
$mobileL: 425px;
$tablet: 768px;
$tabletL: 900px;
$laptop: 1024px;
$laptopSL: 1300px;
$laptopL: 1440px;
$desktop: 1600px;
