@mixin container {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}

@mixin box($minWidth: $mobileWidth, $maxWidth: $mobileWidth, $width: $mobileWidth) {
  min-width: $minWidth;
  max-width: $maxWidth;
  width: $width;
}

@mixin font($fontSize: 16px, $fontWeight: 400, $lineHeight: 22.4px, $fontColor: $Gray800) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: calc($lineHeight / $fontSize);
  color: $fontColor;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin darkColors($bg: $Black, $bc: $BlueA600, $clr: $White) {
  background-color: $bg;
  border-color: $bc;
  color: $clr;
}

@mixin transition($prop, $time: 0.5s, $action: ease-in-out) {
  transition: $prop $time $action;
}
