@mixin container {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}

@mixin box($minWidth: $mobileS, $maxWidth: $mobileS, $width: $mobileS) {
  min-width: $minWidth;
  max-width: $maxWidth;
  width: $width;
}

@mixin font($fs: 16px, $fw: 400, $lh: 22.4px, $fclr: $Gray800) {
  font-size: $fs;
  font-weight: $fw;
  line-height: calc($lh / $fs);
  color: $fclr;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin darkColors($bg: $Black, $bc: $BlueA600, $clr: $White) {
  background-color: $bg;
  border-color: $bc;
  color: $clr;
}

@mixin transition($prop, $time: 0.5s, $action: ease-in-out) {
  transition: $prop $time $action;
}
