@import "../../design/index.scss";

.table {
  min-width: 100%;
}

.tr {
  display: flex;
}

.thead {
  background-color: $Gray100;
  position: sticky;
  top: 0;
  z-index: 1;
}

.th {
  & > .cell {
    @include ellipsis;
  }
}

.th.matchedBlogs,
.th.matchedCases {
  text-align: right;
  & > .cell {
    & > span {
      display: block;
    }
  }
}

.tbody {
  & > .row {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $Gray300;
    }
  }
}

.td {
  & > .cell {
    padding: 8px;
  }
}

.td.title {
  &:first-child {
    & > .cell {
      & span {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.td.published {
  & > .cell {
    @include ellipsis;
  }
}

.td.keywords {
  & > .cell {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    & > span {
      border-radius: 8px;
      padding: 2px 8px;
      background-color: $Gray600;
      @include ellipsis;
    }
  }
}

.td.score {
  & > .cell {
    & span {
      display: block;
      padding: 2px 8px;
      border-radius: 20px;

      @include ellipsis;

      &.scorePink {
        background-color: $ScorePink;
      }
      &.scoreOrange {
        background-color: $ScoreOrange;
      }
      &.scoreYellow {
        background-color: $ScoreYellow;
      }
      &.scoreGreen {
        background-color: $ScoreGreen;
      }
      &.scoreBlue {
        background-color: $ScoreBlue;
      }
    }
  }
}

.td.review {
  text-align: center;
}

.td.matchedBlogs,
.td.matchedCases {
  text-align: right;

  & > .cell {
    @include ellipsis;
  }
}

.icon {
  &Like {
    fill: $Like;
  }
  &Dislike {
    fill: $Dislike;
  }
}

html[data-theme="dark"] {
  .thead {
    background-color: $Gray900;
  }
  .th {
    color: $Gray600;
  }
  .td {
    color: $Gray400;
  }

  .td.keywords,
  .td.score {
    color: $Gray900;
  }
}
