@import "../../design/index.scss";

.table {
  min-width: 100%;
}

.row {
  display: flex;
}

.thead {
  background-color: $Gray100;
  position: sticky;
  top: 0;
  z-index: 1;
}

.th {
  & > div {
    @include ellipsis;
  }
}

.tbody {
  & > .row {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $Gray300;
    }
  }
}

.td {
  & > .cell {
    padding: 8px;
  }
}

.td.title {
  &:first-child {
    & > .cell {
      & span {
        display: block;
        max-height: 44.8px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.td.keywords {
  & > .cell {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    & > span {
      border-radius: 8px;
      padding: 2px 8px;
      background-color: $Gray600;
      @include ellipsis;
    }
  }
}
