@import "../../design/index.scss";

.wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: transparent;
  border-radius: 8px;
  width: 100%;

  &.top {
    transform: translateY(-100%);
  }

  &.right {
    transform: translateX(100%);
  }

  &.bottom {
    transform: translateY(100%);
  }

  &.left {
    transform: translateX(-100%);
  }
}
