@import "../../design/index.scss";

.chevronDown {
  transform: rotate(90deg);
}

.chevronLeft {
  transform: rotate(180deg);
}

.sort {
  fill: $Gray200;
}

html[data-theme="dark"] {
  .chevronDown {
    fill: $Gray600;
  }

  .sort {
    fill: $GrayA400;
  }
}
