@import "design/index.scss";

.section {
  display: flex;
  justify-content: center;

  height: 100vh;

  max-width: 600px;
  margin: 0 auto;

  padding: 0 20px;

  &Box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 -10px;

    text-align: center;

    color: $White;

    &Outer {
      padding: 10px;
      width: 100%;
    }

    &Inner {
      padding: 10px;
      display: flex;
      justify-content: center;
    }
  }

  &Title {
    @include font($fs: 40px, $fclr: $Gray800, $lh: 45px);
    margin: 0;
    @include ellipsis;
  }

  &Heading {
    @include font($fs: 20px, $fclr: $Gray800, $lh: 25px);
    margin: 0;
    @include ellipsis;
  }

  &Description {
    @include font($fclr: $Gray800);
    margin: 0;

    word-wrap: break-word;
  }
}

html[data-theme="dark"] {
  .section {
    &Title {
      @include font($fs: 40px, $fclr: $White, $lh: 45px);
    }

    &Heading {
      @include font($fs: 20px, $fclr: $White, $lh: 25px);
    }

    &Description {
      @include font($fclr: $White);
    }
  }
}
